<<<<<<< HEAD
.form-sec {
    height: 90vh;
  }
  .form-sec form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    border: 8px dashed yellowgreen;
  }
  .form-sec form input {
    padding: 3px;
  }
  .form-sec form #checkbox {
    visibility: hidden;
=======
.form-sec {
    height: 90vh;
  }
  .form-sec form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    border: 8px dashed yellowgreen;
  }
  .form-sec form input {
    padding: 3px;
  }
  .form-sec form #checkbox {
    visibility: hidden;
>>>>>>> dda1c431a68359a4b0d590c4446ef94448d87a19
  }