/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  padding: 4% 10%;
}

#header {
  background-image: url(/asset/images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#header .logo-href {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .logo-href .log {
  cursor: pointer;
}

#header .logo-href .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

#header .logo-href .item a {
  color: #fff;
  font-size: 17px;
}

#header .logo-href .item a:hover {
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}

#header .logo-href .item i {
  display: none;
}

#header .content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

#header .content2 .nav-content {
  border: 2px solid #fff;
  width: 50%;
  padding: 50px 35px;
}

#header .content2 .nav-content h1 {
  color: #fff;
  font-weight: 200;
  font-style: normal;
  text-transform: uppercase;
  font-size: 70px;
  line-height: 70px;
  letter-spacing: 2px;
}

@media only screen and (max-width: 991px) {
  #header .logo-href .log {
    cursor: pointer;
  }
  #header .logo-href .item li {
    display: none;
  }
  #header .logo-href .item i {
    display: block;
    font-size: 22px;
    color: #fff;
  }
  #header .logo-href .item i:hover .content {
    background-color: #000;
  }
  #header .content2 .nav-content {
    border: 2px solid #fff;
    width: 100%;
  }
  #header .content2 .nav-content h1 {
    color: #fff;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 40px;
  }
}

section .container .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .container .content .leader {
  padding: 80px 10px 10px 10px;
  position: absolute;
  left: 55%;
  bottom: 0;
  width: 50%;
  background-color: #fff;
}

section .container .content .leader h1 {
  text-align: center;
  font-weight: 200;
  font-size: 45px;
  line-height: 50px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

section .container .content .leader p {
  text-align: center;
  color: #898585;
  line-height: 25px;
  font-size: 16px;
  font-weight: 700;
  padding: 0 50px;
}

@media only screen and (max-width: 991px) {
  section .container .content {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section .container .content .interecative-img img {
    width: 100%;
  }
  section .container .content .leader {
    position: static;
    width: 100%;
  }
  section .container .content .leader h1 {
    text-align: center;
    font-weight: 200;
    font-size: 34px;
    padding-bottom: 10px;
  }
  section .container .content .leader p {
    width: 100%;
    color: #898585;
    font-size: 16px;
    font-weight: 700;
    padding: 0 20px;
  }
}

section .creations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

section .creations .creat h1 {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 2px;
}

section .creations .btnLight button {
  padding: 15px 30px;
  background-color: #fff;
  border: 1px solid #000;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 200;
  cursor: pointer;
}

section .creations .btnLight button:hover {
  background-color: #000;
  color: #fff;
}

@media only screen and (max-width: 991px) {
  section .creations {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section .creations .creat h1 {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
  }
  section .creations .btnLight button {
    display: none;
  }
}

section .content {
  width: 100%;
}

section .content .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

section .content .top button {
  display: none;
}

section .content .top .card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 270px;
}

section .content .top .card:hover {
  opacity: 0.5;
}

section .content .top .card span {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  font-size: 35px;
  font-weight: 300;
  padding: 0px 0 20px 20px;
  margin-bottom: 20px;
}

section .content .top .card1 {
  background-image: url(/asset/images/desktop/image-deep-earth.jpg);
}

section .content .top .card2 {
  background-image: url(/asset/images/desktop/image-night-arcade.jpg);
}

section .content .top .card3 {
  background-image: url(/asset/images/desktop/image-soccer-team.jpg);
}

section .content .top .card4 {
  background-image: url(/asset/images/desktop/image-grid.jpg);
}

section .content .top .card5 {
  background-image: url(/asset/images/desktop/image-from-above.jpg);
}

section .content .top .card6 {
  background-image: url(/asset/images/desktop/image-pocket-borealis.jpg);
}

section .content .top .card7 {
  background-image: url(/asset/images/desktop/image-curiosity.jpg);
}

section .content .top .card8 {
  background-image: url(/asset/images/desktop/image-fisheye.jpg);
}

@media only screen and (max-width: 991px) {
  section .content .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  section .content .top .card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 120px;
  }
  section .content .top .card span {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 23px;
    font-weight: 200;
    display: inline-block;
    margin-top: 20%;
  }
  section .content .top .card1 {
    background-image: url(/asset/images/mobile/image-deep-earth.jpg);
  }
  section .content .top .card2 {
    background-image: url(/asset/images/mobile/image-night-arcade.jpg);
  }
  section .content .top .card3 {
    background-image: url(/asset/images/mobile/image-soccer-team.jpg);
  }
  section .content .top .card4 {
    background-image: url(/asset/images/mobile/image-grid.jpg);
  }
  section .content .top .card5 {
    background-image: url(/asset/images/mobile/image-from-above.jpg);
  }
  section .content .top .card6 {
    background-image: url(/asset/images/mobile/image-pocket-borealis.jpg);
  }
  section .content .top .card7 {
    background-image: url(/asset/images/mobile/image-curiosity.jpg);
  }
  section .content .top .card8 {
    background-image: url(/asset/images/mobile/image-fisheye.jpg);
  }
  section .content .top .btnLight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  section .content .top .btnLight button {
    padding: 15px 30px;
    background-color: #fff;
    border: 1px solid #000;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 200;
    margin-bottom: 50px;
    cursor: pointer;
  }
  section .content .top .btnLight button:hover {
    background-color: #000;
    color: #fff;
  }
}

footer {
  background-color: #000;
}

footer .content .logo-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .content .logo-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  gap: 20px;
}

footer .content .logo-icon ul a {
  color: #fff;
}

footer .content .logo-icon ul a:hover {
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}

footer .content .foot-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .content .foot-foot .foot-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

footer .content .foot-foot .foot-icon img a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
}

footer .content .foot-foot .copyright p {
  color: #fff;
  padding-top: 20px;
}

@media only screen and (max-width: 991px) {
  footer .content .logo-icon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .content .logo-icon ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .content .logo-icon ul a {
    color: #fff;
  }
  footer .content .logo-icon ul a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
  }
  footer .content .foot-foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
  }
  footer .content .foot-foot .foot-icon img a:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
  }
  footer .content .foot-foot .copyright p {
    color: #fff;
    padding-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */